<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
	<img src="../../../assets/img/FizzingBrain.png" lass="img-fluid" alt="logo">
	<h1>FizzingBrain v.1.0.0</h1>

	<div class="tg-lboi"><label>
			{{ 'FIZZINGBRAIN.SELECT' | translate }}
			<select #langSelect class="form-select form-select-lg mb-3" (change)="translate.use(langSelect.value)">
				<option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
					lang
					}}</option>
			</select>
		</label></div>

</section>