<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
	<img src="../../../assets/img/FizzingBrain.png" lass="img-fluid" alt="logo">
	<h1>Nano Folio</h1>

	<!-- <table class="table table-borderless py-5">
		<tbody>
			<tr>
				<td class="tg-lboi"><label>
						{{ 'HOME.SELECT' | translate }}
						<select #langSelect class="form-select form-select-lg mb-3" (change)="translate.use(langSelect.value)">
							<option *ngFor="let lang of translate.getLangs()" [value]="lang"
								[selected]="lang === translate.currentLang">{{
								lang
								}}</option>
						</select>
					</label></td>
				<td class="tg-0pky">
					<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
						<option selected>{{ 'HOME.BUTTONTITLE' | translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="easy">{{ 'HOME.EASY' |
							translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="medium">{{ 'HOME.MEDIUM' | translate
							}}</option>
						<option [(ngModel)]="gameDifficulty" value="hard">{{ 'HOME.HARD' | translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="impossible">{{ 'HOME.IMPOSSIBLE' |
							translate }}</option>
						<option [(ngModel)]="gameDifficulty" (click)="data.randomDifficulty()">{{ 'HOME.RANDOMLEVEL' | translate
							}}</option>
					</select>
				</td>
				<td class="tg-0pky"><button type="button" class="btn btn-primary btn-lg" [routerLink]="'/fizzingbrain'">{{
						'HOME.STARTGAME' | translate }}</button></td>
			</tr>
		</tbody>
	</table> -->

</section>