<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
	<img src="../../../assets/img/FizzingBrain.png" lass="img-fluid" alt="logo">
	<h1>Nano Folio</h1>

	<table class="table table-borderless py-5">
		<tbody>
			<tr>
				<td class="tg-lboi"><label>
						{{ 'HOME.SELECT' | translate }}
						<select #langSelect class="form-select form-select-lg mb-3" (change)="translate.use(langSelect.value)">
							<option *ngFor="let lang of translate.getLangs()" [value]="lang"
								[selected]="lang === translate.currentLang">{{
								lang
								}}</option>
						</select>
					</label></td>
				<td class="tg-0pky">
					<div class="btn-group">
						<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							{{ 'HOME.BUTTONTITLE' | translate }}
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item active" href="#">{{ 'HOME.EASY' | translate }}</a></li>
							<li><a class="dropdown-item" href="#">{{ 'HOME.MEDIUM' | translate }}</a></li>
							<li><a class="dropdown-item" href="#">{{ 'HOME.HARD' | translate }}</a></li>
							<li><a class="dropdown-item" href="#">{{ 'HOME.IMPOSSIBLE' | translate }}</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">{{ 'HOME.RANDOMLEVEL' | translate }}</a></li>
						</ul>
					</div>
				</td>
				<td class="tg-0pky"><button type="button" class="btn btn-primary btn-lg" [routerLink]="'/fizzingbrain'">{{
						'HOME.STARTGAME' | translate }}</button></td>
			</tr>
		</tbody>
	</table>

</section>