<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
	<div class="tm-about-header tm-flex-center">
		<i class="fas fa-users fa-2x"></i>
		<h2>{{questions[0].hungarianQuestion}}</h2>
	</div>
	<!-- <div class="tm-about-header tm-flex-center">
		<i class="fas fa-users fa-2x"></i>
		<h2>About Us</h2>
	</div> -->
	<div class="tm-about-text">
		<div class="tm-mb-40"><label for="name">Name (4 to 8 characters):</label>
			<input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
		</div>

		<div class="tm-mb-0"><button type="button" class="btn btn-primary btn-lg">Large button</button></div>
	</div>
</section>





<footer class="tm-footer">
	Copyright 2020 Nano Folio - Design: <a rel="sponsored" href="https://www.tooplate.com"
		class="tm-link-gray">Tooplate</a>
</footer>