<section *ngIf="!gameHasStarted" class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
	<img src="../../../assets/img/FizzingBrain.png" lass="img-fluid" alt="logo">
	<h1>Nano Folio</h1>
	<table class="table table-borderless py-5">
		<tbody>
			<tr>
				<td class="tg-lboi"><label>
						{{ 'HOME.SELECT' | translate }}
						<select #langSelect class="form-select form-select-lg mb-3" (change)="translate.use(langSelect.value)">
							<option *ngFor="let lang of translate.getLangs()" [value]="lang"
								[selected]="lang === translate.currentLang">{{
								lang
								}}</option>
						</select>
					</label></td>
				<td class="tg-0pky">
					<select #difficulties (change)="setDifficulty(difficulties.value)" name="diff"
						class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
						<option selected>{{ 'HOME.BUTTONTITLE' | translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="easy">{{ 'HOME.EASY' |
							translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="medium">{{ 'HOME.MEDIUM' | translate
							}}</option>
						<option [(ngModel)]="gameDifficulty" value="hard">{{ 'HOME.HARD' | translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="impossible">{{ 'HOME.IMPOSSIBLE' |
							translate }}</option>
						<option [(ngModel)]="gameDifficulty" value="random">{{ 'HOME.RANDOMLEVEL' | translate
							}}</option>
					</select>
				</td>
				<td class="tg-0pky"><button type="button" class="btn btn-primary btn-lg" (click)="startGame()">{{
						'HOME.STARTGAME' | translate }}</button></td>
			</tr>
		</tbody>
	</table>
</section>

<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-3 tm-border-rounded"
	*ngIf="gameDifficulty == '' && !gameHasEnded && !gameHasStarted">
	<div class="tm-about-header tm-flex-center">
		<h1>Kérem, válasszon nehézséget!</h1>
	</div>
</section>

<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-3 tm-border-rounded" *ngIf="gameHasEnded">
	<div class="tm-about-header tm-flex-center">
		<h1>A játék véget ért!</h1>
		<div class="tm-mb-0"><button type="button" class="btn btn-primary btn-lg" (click)="restartGame()">Restart
				game</button></div>
	</div>
</section>


<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-3 tm-border-rounded"
	*ngIf="gameDifficulty !== ''&& !gameHasEnded && gameHasStarted">
	<div class=" tm-about-header tm-flex-center">
		<h1>00:{{timeLeft | number:'2.0'}}</h1>
	</div>
</section>

<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-1 tm-border-rounded"
	*ngIf="gameDifficulty  !== '' && !gameHasEnded && gameHasStarted">
	<div class="tm-about-header tm-flex-center">
		<i-feather name="home"></i-feather>
		<!-- <h2>{{questions[0].hungarianQuestion}}</h2> -->
		<h2 *ngIf="this.language=='hu'">{{questions[counter].hungarianQuestion}}</h2>
		<h2 *ngIf="this.language=='en'">{{questions[counter].englishQuestion}}</h2>
	</div>
</section>

<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded"
	*ngIf="gameDifficulty  !== '' && !gameHasEnded && gameHasStarted">

	<div class="tm-about-header tm-flex-center mx-5">
		<table class="table text-center">
			<tbody>
				<tr>
					<td class="tg-0lax" colspan="3">
						<i-feather name="tv"></i-feather>
					</td>
				</tr>
				<tr>
					<td class="tg-lboi">
						<h4>Computers guess: {{computerGuess}}</h4>
					</td>
					<td class="tg-0pky">
						<h4>Computers points: {{computerPoint}}</h4>
					</td>
					<td class="tg-0pky">
						<div class="tm-mb-0"><button type="button" class="btn btn-primary btn-lg" (click)="restartGame()">Restart
								game</button></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="tm-about-header tm-flex-center tm-border-rounded">
		<table class="table table-dark text-center table-borderless">
			<tbody>
				<tr>
					<td colspan="3">
						<i-feather name="smile"></i-feather>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<h5>Player points: {{playerPoint}}</h5>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="tm-mb-40">
							<h5>Player guess:</h5>
							<form>
								<input [(ngModel)]="playerGuess" *ngIf="thereIsTime" type="number" id="playerGuess" name="playerGuess"
									required placeholder="Ide írhatja a tippjét...">
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="tm-mb-0"><button *ngIf="playerGuess && thereIsTime" type="button" class="btn btn-primary btn-lg"
								(click)="nextQuestion()">Large
								button</button></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


</section>



<footer class="tm-footer">
	Copyright 2020 Nano Folio - Design: <a rel="sponsored" href="https://www.tooplate.com"
		class="tm-link-gray">Tooplate</a>
</footer>