<section class="tm-contact tm-mb-50 tm-border-rounded" style="background-color: #343a40;">
	<div class="tm-contact-header tm-flex-center">
		<i-feather name="home"></i-feather>
		<h2>Contact</h2>
	</div>
	<div class="tm-contact-info">
		<address class="tm-mb-30">
			The programmer of this application is Ádám Porkoláb.<br> You can contact him by his webpage: <a
				href="https://www.porkolab.digital">https://www.porkolab.digital</a>
		</address>
		<div class="tm-text-white tm-mb-40">The GitHub page of the author: <a
				href="https://github.com/APorkolab/">https://github.com/APorkolab/</a></div>
		<div class="tm-flex">
			<!-- <a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a>
			<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter"></i></a>
			<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a> -->
		</div>
	</div>
	<div class="tm-contact-form-container">
		<img src="./../../../assets/img/logo.png" alt="devLogo" width="300">
	</div>
</section>