<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
	<img src="../../../assets/img/FizzingBrain.png" lass="img-fluid" alt="logo">
	<h1>FizzingBrain v.1.0.0</h1>

	<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
		data-bs-smooth-scroll="true" class="scrollspy-example bg-dark p-3 rounded-2" tabindex="0">
		<h1 id="scrollspyHeading1">The aim of the game</h1>
		<p>The idea of Fizzingbrain is that the user and the computer fight a guessing duel.</p>
		<h1 id="scrollspyHeading2">The level of difficulty</h1>
		<p>The program allows you to choose the level of difficulty, which affects the time to answer the questions and the
			accuracy of the computer's guessing.</p>
		<h1 id="scrollspyHeading3">The score</h1>
		<p>The program scores the guesses based on the absolute value of the guesses and gives points to the one who is
			closest to the solution. If they both hit the correct solution, they both get a point. For each question answered
			correctly,
			5 points are awarded.</p>
		<h1 id="scrollspyHeading4">End of one match</h1>
		<p>The game ends after 6 questions and the program will declare a winner on the basis of the points scored: in case
			of a tie, the program will declare a draw.</p>

	</div>

</section>





<footer class="tm-footer">
	Copyright 2020 Nano Folio - Design: <a rel="sponsored" href="https://www.tooplate.com"
		class="tm-link-gray">Tooplate</a>
</footer>