<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
	<img src="../../../assets/img/FizzingBrain.png" class="img-fluid" alt="logo">
	<h1>{{ 'header.title' | translate }}</h1>

	<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
		data-bs-smooth-scroll="true" class="scrollspy-example bg-dark p-3 rounded-2" tabindex="0">
		<h1 id="scrollspyHeading1">{{ 'game.aim.title' | translate }}</h1>
		<p>{{ 'game.aim.description' | translate }}</p>
		<h1 id="scrollspyHeading2">{{ 'game.difficulty.title' | translate }}</h1>
		<p>{{ 'game.difficulty.description' | translate }}</p>
		<h1 id="scrollspyHeading3">{{ 'game.score.title' | translate }}</h1>
		<p>{{ 'game.score.description' | translate }}</p>
		<h1 id="scrollspyHeading4">{{ 'game.end.title' | translate }}</h1>
		<p>{{ 'game.end.description' | translate }}</p>
	</div>
</section>

<footer class="tm-footer">
	<span>{{ 'footer.copyright' | translate }}</span>
	<a rel="sponsored" href="https://www.tooplate.com" class="tm-link-gray">{{ 'footer.design' | translate }}</a>
</footer>