<div class="row">
	<div class="col-12 d-flex justify-content-center text-center">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title" *ngIf="question$ | async">Edit question</h4>
				<h4 class="card-title" *ngIf="!(question$ | async)">Add a new Question</h4>
			</div>
			<div class="card-body">
				<form #questionForm="ngForm">
					<input type="hidden" name="id" [(ngModel)]="question.id">
					<h3 class="h5 text-secondary">Question in Hungarian*</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="hungarian" [(ngModel)]="question.hungarianQuestion"
									required required pattern="^[a-űA-Űa-zA-Z \-\.,!()'0-9:]{3,60}$">
							</div>
							<div [hidden]="questionForm.controls['hungarian']?.valid" class="alert alert-danger" role="alert">
								The question in Hungarian must consist of at least 3 letters.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">Question in English*</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="fieldOfExpertise" [(ngModel)]="question.englishQuestion"
									required pattern="^[a-űA-Űa-zA-Z \-\.,!()'0-9:]{2,60}$">
							</div>
							<div [hidden]="questionForm.controls['fieldOfExpertise']?.valid" class="alert alert-danger" role="alert">
								The question in English answer must be at least 3 letters long and must not contain numbers.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">Hungarian answer*</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="wordType" [(ngModel)]="question.hungarianAnswer" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!() ']{2,60}$">
							</div>
							<div [hidden]="questionForm.controls['wordType']?.valid" class="alert alert-danger" role="alert">
								The Hungarian answer must be at least 2 letters long.
							</div>
						</div>
					</div>


					<h3 class="h5 text-secondary">English answer*</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="english" [(ngModel)]="question.englishAnswer" required
									pattern="^[a-űA-Űa-zA-Z \-\.,!() ' |]{5,60}$">
							</div>
							<div [hidden]="questionForm.controls['english']?.valid" class="alert alert-danger" role="alert">
								The English answer must be at least 3 letters long and must not contain numbers.
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">"Explanation in Hungarian*</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="english" [(ngModel)]="question.descriptionHungarian"
									pattern="^[a-űA-Űa-zA-Z \-\.,!() ' |]{5,60}$">
							</div>
							<div [hidden]="questionForm.controls['english']?.valid" class="alert alert-danger" role="alert">
								The Hungarian explanation must be at least 3 letters long and must not contain numbers!
							</div>
						</div>
					</div>

					<h3 class="h5 text-secondary">English explanation*</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" name="english" [(ngModel)]="question.descriptionEnglish"
									pattern="^[a-űA-Űa-zA-Z \-\.,!() ' |]{5,60}$">
							</div>
							<div [hidden]="questionForm.controls['english']?.valid" class="alert alert-danger" role="alert">
								The English explanation must consist of at least 3 letters and must not contain numbers!
							</div>
						</div>
					</div>

					<button *ngIf="question$ | async" (click)="onUpdate(question)" [disabled]="questionForm.invalid" type="submit"
						class="btn btn-primary pull-right me-md-3">Update the data of the question</button>
					<button *ngIf="!(question$ | async)" (click)="onCreate(question)" [disabled]="questionForm.invalid"
						type="submit" class="btn btn-primary pull-right me-md-3">Create a new question</button>
					<button routerLink="/question" type="button" class="btn btn-danger pull-left">Cancel edit</button>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">

	</div>
</div>